body{
  margin:0;
  font-family:sans-serif;
  background:#1e1e2f;
  color:white;
}

.page{
  display:none;
  padding:20px;
}

.page.active{
  display:block;
}

.panel{
  background:#2d2d44;
  padding:20px;
  border-radius:15px;
  max-width:500px;
  margin:auto;
}

button{
  width:100%;
  margin-top:10px;
  padding:12px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-size:16px;
}

button:hover{
  opacity:0.9;
}

.subButton{
  background:#555;
  color:white;
}

.danger{
  background:#d93c3c;
  color:white;
}

input,
textarea,
select{
  width:100%;
  padding:10px;
  margin-top:10px;
  border-radius:10px;
  border:none;
  box-sizing:border-box;
}

.topBar{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.homeButtons{
  display:grid;
  gap:15px;
  max-width:400px;
  margin:auto;
}

.orderCard{
  background:#2d2d44;
  padding:15px;
  border-radius:15px;
  margin-bottom:15px;
}

.emergency-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.8);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.hidden{
  display:none;
}

.emergency-popup{
  background:#ff3b3b;
  padding:40px;
  border-radius:20px;
  text-align:center;
  animation:popup 0.2s ease;
}

@keyframes popup{
  from{
    transform:scale(0.7);
  }
  to{
    transform:scale(1);
  }
}
